@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* font-family: 'Dancing Script', cursive; */
:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}
body{
  font-family: 'Dancing Script', cursive;
}
.navbar-toggler{
  outline: none!important;
}
.toggler-icon{
  color: var(--mainPink);
  font-size: 2.5rem;
}
.nav-link{
  color: var(--mainPink);
  font-size: 2.3rem;
  transition: all 400ms ease-in-out;
}
.nav-link:hover{
  color: var(--mainBlack);
}
.nav-info-items{
  color: var(--mainBlack);
}
.cart-info{
  border: 0.1rem solid var(--mainBlack);
  padding: 0.3rem 0.4rem;
  border-radius: 0.24rem;
  transition: all 500ms ease-in-out;
}
.cart-info__icon:hover{
  color: var(--mainWhite);
}
.cart-info:hover{
  background: var(--mainPink);
  color: var(--mainWhite);
  border-color: var(--mainPink);
}
/* banner area */
.max-height{
  min-height: calc(100vh - 81px);
  background: linear-gradient(rgba(99, 180, 184,0.5), rgba(99, 180, 184,0.3)), url("../img/headerBcg.jpeg")center/cover fixed no-repeat;
  color: var(--mainWhite);
}
.banner-title{
  color: var(--mainPink);
  font-size: 4.5rem;
  
}
.banner-link{
  border: 0.25rem solid var(--mainBlack);
  padding: 0.5rem 2rem;
  color: var(--mainBlack);
  font-size: 1.5rem;
}
.banner-link:hover{
  background: var(--mainBlack);
  color: var(--mainPink);
}
/* about */
.about p{
  font-size: 1.5rem;
}
.about__img-container{
  position: relative;
  cursor: pointer;
}
.store-img{
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out ;
}
.about__img-container::before{
  content: '';
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid rgb(99, 180, 184);
  z-index: -1;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
}
.about__img-container:hover::before{
  top: 0;
  left: 0;
}
/* store section */
.store{
  background: var(--mainGrey);
}
.btn-store{
  color: var(--mainBlack);
  border: 0.1rem solid var(--mainBlack);
}
.btn-store:hover{
  background: var(--mainBlack);
  color: var(--mainPink);
}
.prepend-icon{
  background: var(--mainPink);
  color: var(--mainBlack);
}
.img-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.store-img{
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}
.store-item-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.4rem 0.7rem;
  background: var(--mainYellow);
  border-top-left-radius: 0.675rem;
  transform: translate(100%,100%);
  transition: all 0.5s ease-in-out;
}
.img-container:hover .store-item-icon{
  transform: translate(0,0);
}
.store-item-icon:hover{
  color: var(--mainWhite);
}
/* services section */
.services{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../img/servicesBcg.jpeg")center/cover fixed no-repeat;
  color: var(--mainWhite);
}
.services p{
  font-size: 1.2rem;
}
.service-title{
  letter-spacing: 1.2rem;
}